/* your beautiful css styling goes here! */

/* Note: an asteroid image is included in this repo.
Feel free to use it if you like. */
html {
  background-color: black;
}

svg {
  background-color: black;
  background: url(space.jpg) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  cursor: none;

  margin: 0 auto;
}

.border, .hero-border {
    stroke:none; 
    fill:none;   
}

.collision {
    stroke:red; 
    fill:red;   
}
  
.asteroid {
}

.board {
  text-align: center;
}